<!--The content below is only a placeholder and can be replaced.-->
<h2 class="text-center">Using Forms</h2><br>

<div class="container" align="center">
<form [formGroup]="myLoginForm" (ngSubmit)="verifyUser(myLoginForm)">
 
  <table>
    <tr>
      <td><label>USERNAME:</label></td>
      <td><input type="text"
        formControlName="username"
        class="form-control form-control-lg" >
        <div *ngIf="myLoginForm.controls.username.invalid && (myLoginForm.controls.username.dirty|| myLoginForm.controls.username.touched)">
        <div *ngIf="myLoginForm.controls.username.errors.required" class="text-danger">USERNAME is required</div>

<div *ngIf="myLoginForm.controls.username.errors.minlength" class="text-danger">USERNAME Minlength is:5</div>
        </div> 
      </td>
    </tr><br>
    <tr>
      <td><label>PASSWORD:</label></td>
      <td><input type="password"
        formControlName="password"
        class="form-control form-control-lg" >
        <div *ngIf="myLoginForm.controls.password.invalid && (myLoginForm.controls.password.dirty|| myLoginForm.controls.password.touched)">
        <div *ngIf="myLoginForm.controls.password.errors.required" class="text-danger">PASSWORD is required</div>

<div *ngIf="myLoginForm.controls.password.errors.minlength" class="text-danger">PASSWORD Minlength is:5</div>
        </div> 
      </td>
    </tr><br>
    <tr>
      <td><label>Gender</label></td>
        <td>
          <div class="custom-control custom-radio">
            <input id="male" type="radio" formControlName="gender" value="Male" class="custom-control-input">
            <label class="custom-control-label" for="male">MALE</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="female" type="radio" formControlName="gender" value="Female" class="custom-control-input">
            <label class="custom-control-label" for="female">FEMALE</label>
          </div>
          
        </td>
    </tr><br>
    <tr>
      <td><label>COURSES:</label></td>
      
      <td>
        <input list="my-courses" formControlName="course" class="form-control">
        <div *ngIf="myLoginForm.controls.course.invalid && 
        (myLoginForm.controls.course.dirty|| myLoginForm.controls.course.touched)">
          <div *ngIf="myLoginForm.controls.course.errors.required" class="text-danger">Course is required</div>
  </div>
 
        <datalist id="my-courses">
          <option value="Java">Java</option>
          <option value="Spring">Spring</option>
          <option value="MicroServices">MicroServices</option>
          <option value="MongoDB">MongoDB</option>
        </datalist>
        
      </td>
    </tr><br>
    <tr>
      <td><label>TIMINGS:</label></td>
      <td>
        <input list="my-timings" formControlName="timings" class="form-control">
        <div *ngIf="myLoginForm.controls.timings.invalid && 
        (myLoginForm.controls.timings.dirty|| myLoginForm.controls.timings.touched)">
          <div *ngIf="myLoginForm.controls.timings.errors.required" class="text-danger">Timings  required</div>
  </div>
        <datalist id="my-timings">
          <option value="Weekdays">Weekdays</option>
          <option value="Weekends">Weekends</option>
        </datalist>
      </td>
    </tr><br/>
    <tr>
      <td><label>Accept:</label></td>
      <td>
        <div class="form-group form-check">
          <input type="checkbox" formControlName="accept" class="form-check-input" id="house" value="house">
          <label for="house" class="form-check-label">HOUSE</label>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <button type="submit" [disabled]=!myLoginForm.valid class="btn btn-danger btn-lg">Login Now</button>
      </td>
    </tr>









  </table>
</form>
</div>